@font-face {
    font-family: HubotSans;
    src: url(/Fonts/HubotSans-Regular.ttf);
}

* {
    --blue1: #1e3f66;
    --blue2: #2e5984;
    --blue3: #528aae;
    --blue4: #73a5c6;
    --blue5: #91bad6;
    --blue6: #bcd2e8;
}

body {
    background-color: whitesmoke;
    font-family: HubotSans;
    padding: 0;
    margin: 0;
    padding-top: 70px;
}

main {
    width: 100%;
}

.parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.parent.scrolled {
    background-color: var(--blue1);
}

.nav-link {
    padding: 0.5rem;
    color: var(--blue5);
}

.home-link {
    padding: 0.5rem;
    color: var(--blue5);
}
