/* Font importing */
@font-face {
    font-family: Geist;
    src: url(fonts/geist/Geist-Regular.ttf);
}

@font-face {
    font-family: Vujahday;
    src: url(fonts/VujahdayScript-Regular.ttf);
}

/* Sets the palette at :root */
:root {
    --blue1: #042241;
    --blue2: #133955;
    --blue3: #205068;
    --blue4: #2D687C;
    --blue5: #529cb5;
}

/* Declares styles for the basic elements */
body {
    background-color: whitesmoke;
    font-family: Geist;
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
}
 
a {
    text-decoration: none;
    color: var(--blue4);
    transition: 0.3s ease-in-out;
}

a:hover { 
    /* Adds animations on hover */
    font-size: 1.2rem;
    color: var(--blue5);
    transition: 0.3s ease-in-out;
}

b {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--blue5);
}

p {
    font-size: 1.2rem;
}

h1 {
    font-size: 2.1rem;
}

footer {
    margin: 0px;
    padding: 0px;
    background-color: var(--blue1);
    color: whitesmoke;
}

/* Styles for classes */
.button {
    background-color: var(--blue3);
    font-family: Geist;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: whitesmoke;

    transition: 0.3s ease-in-out;
}

.button:hover { 
    /* Animation on hover */
    background-color: var(--blue4);
    transition: 0.3s ease-in-out;
    border-radius: 1.5rem;
    padding: 1.5rem;
    color: whitesmoke;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: 0.3s ease-in-out;

    /* Z-index makes it so that the navbar always stays on the top */
    z-index: 2222;
}

.navbar.scrolled { 
    /* This is the class that will be applied when the user scrolls down */
    background-color: #042241;
    opacity: 90%;
}

.nav-link {
    padding: 0.5rem;
    text-decoration: none;
    color: whitesmoke;
    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    /* Animation on hover */
    padding: 0.5rem;
    font-size: large;
    color: var(--blue5);
    transition: 0.3s ease-in-out;
}

.home-link {
    padding: 0.5rem;
    text-decoration: none;
    color: whitesmoke;
    transition: 0.3s ease-in-out;
}

.home-link:hover {
    /* Animation on hover */
    font-size: large;
    color: var(--blue5);
    transition: 0.3s ease-in-out;
}

.index-hero-image {
    /* Hero image styles for the index.html page */
    background-image: url(images/self_taken_images/main_hero-image.png);
    background-color: var(--blue2);
    background-position: left;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    /* Call-To-Action styles for the index.html page */
    background-color: var(--blue2);
    background-position: left;
    background-size: cover;
    height: 200px;
    padding-bottom: 1.7rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.cta-text {
    /* Call-To-Action text styling */
    color: whitesmoke;
    font-family: Vujahday;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-hero-text {
    /* Hero text styling that goes on the index.html page */
    color: whitesmoke;
    font-family: Vujahday;
    text-align: center;
    width: 100%;
    font-size: 7rem;
}

.two-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.content {
    padding: 2rem;
    line-height: 2;
}

.header, 
.hero-text {
    font-family: Vujahday;
    padding: 0px;
    margin: 0px;
}

.divider {
    /* Use <div class="divider"></div> to add a blue line */
    width: 5rem;
    height: 0.4rem;
    background: var(--blue4);
    border-radius: 0.4rem;
}

.four-by-three {
    /* 4x3 grid that is used for the 3rd section of index.html */
    /* The 2nd and 4th row are smaller, as they are for the text */
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.2fr 1fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.indexlinks {
    /* Styles for the text that go below the circle images in index.html */
    margin: 0px;
    text-align: center;
    font-size: 16px;
}

.indexlinks p {
    /* Styles for the text that go below the circle images in index.html */
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.indeximages img {
    /* Styles for the circle images in index.html */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
    clip-path: circle(40%);
    border-color: var(--blue2);
    border-style: solid;
    border-width: 3.5vw;
    border-radius: 100%;
    box-sizing: border-box;
}

.footer {
    /* Two-column grid (ratio of 2:1) */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.social {
    /* Styles for the social-media icons */
    width: 2rem;
    margin: 0.6rem;
    margin-top: 1.6rem;
    display: inline-block;
    transition: 0.3s ease-in-out;
}

.social:hover {
    /* Animation on hover */
    width: 2.5rem;
    margin: 0.6rem;
    margin-top: 1.6rem;
    display: inline-block;
    transition: 0.3s ease-in-out;
}